.calculator{
  width: 300px;
  border: 2px solid black;
  padding: 10px;
}
.head_cal{
  padding: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  border: 1px solid green;
  height: 50px;
}
.operations{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}
.operation{
  text-align: center;
  font-weight: 700;
  width: 30px;
  border: 1px solid blue;
  padding: 10px;
  font-size: 30px;
  transition: 0.3s;
  cursor: pointer;
}
.operation:hover{
  background: blue !important;
  color: white;
}
.App{
  max-width: 1300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}